body {
    background-color: rgb(15, 180, 15);
    padding: 0%;
    margin: 0%;
}

/* header */

header {
    padding: 1vh;
    background-color: green;
}
header ul {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-size: 2em;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

/* map */

#map {
    margin-top: 0.5%;
    height: 95%; /* Increased height for better visibility */
    width: 100%;
    border: 1px solid black; /* Add a border to confirm visibility */
}

/* time-label */

#time-label {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}